<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <consentcookie>
            <general>
                <enable>0</enable>
                <method>local</method>
                <cdn_url>//cdn.humanswitch.services/cc/consentcookie/consentcookie.min.js</cdn_url>
                <override_analytics>0</override_analytics>
            </general>
            <configurator_settings>
                <enable>0</enable>
                <method>local</method>
            </configurator_settings>
        </consentcookie>
    </default>
</config>