<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <tab id="humanswitch" sortOrder="999999" class="humanswitch-tab">
            <label>Humanswitch</label>
        </tab>

        <section id="consentcookie" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <class>separator-top section-consentcookie</class>
            <label>ConsentCookie</label>
            <tab>humanswitch</tab>
            <resource>Humanswitch_Consentcookie::config_consentcookie</resource>

            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <comment><![CDATA[<strong>Information:</strong><br> For more information refer to the <a href="https://github.com/humanswitch/magento2-consentcookie">GitHub</a> page or the <a href="https://www.consentcookie.nl/">website</a>]]></comment>

                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="method" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
                    <label>Load method</label>
                    <comment><![CDATA[Use CDN for the latest version and local for the included version of ConsentCookie.]]></comment>
                    <source_model>Humanswitch\Consentcookie\Model\Config\Source\Source</source_model>
                </field>

                <field id="cdn_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                    <label>CDN URL</label>
                    <comment><![CDATA[//cdn.humanswitch.services/cc/consentcookie/consentcookie.min.js]]></comment>
                    <depends>
                        <field id="method">cdn</field>
                    </depends>
                    <validate>validate-no-empty</validate>
                </field>

                <field id="override_analytics" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="select">
                    <label>Override Magento Google Analytics</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Overrides Magento's Google Analytics template to comply with ConsentCookie</comment>
                </field>
            </group>

            <group id="configurator_settings" showInWebsite="1" showInStore="1" showInDefault="1" sortOrder="20" translate="label">
                <label>Configurator Settings</label>

                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="method" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                    <label>Load method</label>
                    <source_model>Humanswitch\Consentcookie\Model\Config\Source\Source</source_model>
                </field>

                <field id="configuration" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="textarea">
                    <label>Configuration</label>
                    <comment><![CDATA[This field contains the configuration in JSON format. Use the <a onclick="Fieldset.toggleCollapse('consentcookie_configurator_group');">configurator</a> in the section below to change this.]]></comment>
                </field>
            </group>

            <group id="configurator_group" showInWebsite="1" showInStore="1" showInDefault="1" sortOrder="30" translate="label">
                <label>Consentcookie Configurator</label>
                <comment>Use the configurator below to modify the configuration in the area above.</comment>

                <field id="configurator" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="textarea">
                    <frontend_model>Humanswitch\Consentcookie\Block\System\Config\Form\Field\Configurator</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
